.hidden{
    display: none;
}

body {
    background-color: #381e31;
    color:black;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px 75px 15px 75px;
}

.card{
    background-color: #592547;
    width: fit-content;
    padding: 30px;
    border-style: solid;
    border-color: #D9AE30;
    border-width: 2px;
    border-radius: 25px;
}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.startButton{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

#instructions, .instructionsTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'IBM Plex Serif', serif;
    color: black;
    margin: 10px;
}

.instructionsList{
    padding: 25px 0;
}

.instructionsTitle{
    font-weight: bolder;
    font-size: x-large;
}



#questionsDiv, #choices{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    width: 100%;
}


button {
    background-color: #8C7B65;
    color:wheat;
    font-size: medium;
    padding: 10px;
    margin: 15px;
    border-radius: 15px;
    border-color: #D9AE30;
}

#choices button{

    color: #FCF6E8;
}

#leaderboardForm{
    display: flex;
    flex-direction: column;
    width: 100%;;
    align-items: center;
    justify-content: baseline;
    padding: 20px 0;
}

#leaderName{
    width: 425px;
    height: 30px;
    border-style: solid;
    border-color: #D9AE30;
    border-radius: 25px;
    text-align: center;
    background-color: #d0bea4;
    color: black;
}

#buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

#leaderList{
    display: flex;
    flex-direction: column;
    list-style: none;
}